<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Accueil</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body>
      <h1><span style="font-size:100px">&#9975;&#65039;</span>
        Ski Team 2023 - 2024</h1>
        <h1><span style="font-size:40px">&#128227;</span>  Annonces</h1>
        <ol class= "announcements">
            <li>
                <div class="texte">
                    <h2>La légende dit que Mr Carrez était un fictif mais la légende dit aussi que Monzie était un bon trésorier donc bon ... </h2>
              </div>
              </li>
              <li>
                <h2>Funfact : Les humains ont envoyé un homme sur la Lune avant même d'avoir mis des roulettes sur les valises</h2>
              </li>
              <li>
                <h2>Funfact : Une cuillère de miel, c'est le travail de toute une vie de 12 abeilles</h2>
              </li>
        </ol>
        <h1><span style="font-size:40px">&#127935;</span>  Activités</h1>
        
        <ol class= "events">
            <li>
              <img src="images/bobsleigh.jpg">
              <div class="texte">
              <h2>Bobsleigh</h2> <br>
              <h3> Où ? </h3> 
                <p>  A la Plagne <a href="https://goo.gl/maps/DC3Wf25zchgmARLFA"> (ici)</a></p> <br>
                <h3> Quand ? </h3>
                <p>  A la Plagne aussi </p>
            </div>
            </li>
            <li>
              <img src="images/bobsleigh.jpg">
              <div class="texte">
              <h2>Bobsleigh</h2> <br>
              <h3> Où ? </h3> 
                <p>  A la Plagne <a href="https://goo.gl/maps/DC3Wf25zchgmARLFA"> (ici)</a></p> <br>
                <h3> Quand ? </h3>
                <p>  A la Plagne aussi </p>
            </div>
            </li>
            <li>
              <img src="images/bobsleigh.jpg">
              <h2>Patinoire</h2>
            </li>
          </ol>
        <script src="" async defer></script>
    </body>
</html>